# obtain Node dependencies by running `npm install` command.
node_modules/
npm-debug.log

# CSS files are compiled using Sass by running `grunt styles`.
*.css

# artefact from browserify by running `grunt js`.
bundle.js
suite.bundle.js

# directory will contain distributable version of the theme, which can
# be created by running `grunt dist`.
dist/

# Ignore MAC OS related
.DS_Store