/**
 * -----------------------------------------------------------------------------
 * $LIST
 * -----------------------------------------------------------------------------
 */
 
/**
 * List of items.
 */
 
.list {
	@include rem(margin-bottom, $spacing-base);
	
	display: block;
	list-style: none;
	margin-top: 0;
	padding: 0;
}

	.list__item {
		box-sizing: border-box;
		display: block;
		
		.list--horizontal & {
			@include rem(margin-right, $spacing-base);
			display: inline-block;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}