<div class="main">
    @if (Model.Header != null) {
        @Display(Model.Header)
    }
    
    @if (Model.Content != null) {
        @Display(Model.Content)
    }
    
    @if (Model.Footer != null) {
        @Display(Model.Footer)
    }
</div>