/**
 * -----------------------------------------------------------------------------
 * $MENU
 * -----------------------------------------------------------------------------
 */

.menu {
    list-style: none;
    margin-bottom: 0;

    > li {
        display: inline-block;
        @include rem(margin-left, $spacing-large);
        position: relative;

        &:first-child {
            margin-left: 0;
        }

        > ul {
            display: none;
            margin: 0;
            padding: 0;
            position: absolute;

            list-style: none;
        }
    }

    a {
        color: $color-link-default;
        text-decoration: none;
    }
}

.dropdown {
    @include rem(padding-right, $spacing-large);

    &:after {
        content: "";
        position: absolute;
        top: 13px;
        right: 15px;
        width: 0;
        height: 0;

        border-style: solid;
        border-width: 9px 7px 0 7px;
        border-color: #d6d6d6 transparent transparent transparent;
    }

    &:hover {
        > ul {
            display: block;
        }

        &:after {
            border-color: $color-link-default transparent transparent transparent;
        }
    }

    ul {
        a {
            background-color: lighten($color-grey, 55%);
            color: $color-black;
            text-decoration: none;
    
            &:hover {
                background-color: lighten($color-grey, 50%);
            }
        }
    }

    a {
        display: block;
        @include rem(padding-bottom, $spacing-small);
        @include rem(padding-left, $spacing-default);
        @include rem(padding-right, $spacing-default);
        @include rem(padding-top, $spacing-small);
    }
}

