/**
 * -----------------------------------------------------------------------------
 * $FIELDSET
 * -----------------------------------------------------------------------------
 */

/**
 * Styles for `fieldset` element.
 */
 
fieldset {
	@include rem(margin-bottom, $spacing-default);
	@include rem(padding-left, $spacing-small);
	@include rem(padding-right, $spacing-small);
	@include rem(padding-bottom, $spacing-small * 3);
	padding-top: 0;
		
	border: 1px solid lighten($color-grey, 40%);
	
	margin-left: 0;
	margin-right: 0;
	
	ol,
	ul {
		margin-bottom: 0;
		@include rem(margin-left, $spacing-default);
		@include rem(margin-right, $spacing-default);
		margin-top: 0;
		padding: 0;
	
		list-style: none;
		
		> li {
			@include rem(margin-bottom, $spacing-default);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.field-validation-error {
	color: $color-error-text;
    font-style: italic;
    font-size: $font-size-small;
}