/**
 * -----------------------------------------------------------------------------
 * $HEADING
 * -----------------------------------------------------------------------------
 */
 
/**
 * Styles for the `h1` to `h6` elements.
 */
 
/**
 * 1. Reduces the spacing above & below the font.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	@include rem(margin-bottom, $spacing-default);
	
	line-height: 1; /* 1. */
	
	margin-top: 0;
}

h1 {
	@include rem(font-size, $font-size-heading);
	@include rem(line-height, $font-size-heading + .6rem);
	 
    font-weight: $font-weight-bold;
}

h2 {
	@include rem(font-size, $font-size-heading-2);
	@include rem(line-height, 3.6rem);
}

h3 {
	@include rem(font-size, $font-size-heading-3);
	@include rem(line-height, 3rem);
}

h4 {
	@include rem(font-size, $font-size-heading-4);
	@include rem(line-height, 2.6rem);
}

h5 {
	@include rem(font-size, $font-size-heading-5);
	@include rem(line-height, 2.4rem);
}

h6 {
	@include rem(font-size, $font-size-heading-6);
	@include rem(line-height, 1.8rem);
}