/**
 * -----------------------------------------------------------------------------
 * $LINK
 * -----------------------------------------------------------------------------
 */
 
/**
 * Styles for the hyperlink elements.
 */
 
a,
.link {
	font-weight: $font-weight-default;
	text-decoration: none;
	
	&:active,
	&:hover {
		text-decoration: underline;
	}
}

.link--chevron {
    &:after {
        content: "\a0 \000BB";
    }
}

.link--admin {
    bottom: 0;
    position: fixed;
    @include rem(padding-bottom, $spacing-default);
    @include rem(padding-left, $spacing-large);
    @include rem(padding-right, $spacing-large);
    @include rem(padding-top, $spacing-default);
    right: 0;
    z-index: $z-index-front;

    background-color: $color-black;
    border-bottom: 0;
    color: $color-white;

    &:hover {
        background-color: lighten($color-black, 10%);
		color: $color-white;
		text-decoration: none;
    }
}