/**
 * -----------------------------------------------------------------------------
 * $VARS
 * Contains properties used throughout the stylesheet.
 * -----------------------------------------------------------------------------
 */
 
/**
 * Properties related to URLs.
 */
 
$url-images: '../Content/';

/**
 * Variations on font size.
 */
 
$font-size-default: 1.6rem;
$font-size-default-em: 1.6em;